/* Card.css */
.card {
    border: 1px solid #ccc;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust card width as needed */
    margin-right: 20px; /* Spacing between cards */
    width: 360px; /* Fixed card width */
    height: 360px;
    overflow: hidden;
    margin-bottom: 40px;
  }
  
  .card img {
    width: 360px;
    height: auto;
    border-bottom: 1px solid #ccc; /* Optional: Add border below image */
    border-radius: 18px;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-body h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .card-body p {
    margin-top: 10px;
  }
  