.box2t {
    height: 566.41px ;
    width: 1017.85px ;
    background-color: #ffffff;
    border-radius: 33px;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 179px;
    margin-top: 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
}

.box-button2 {
    background-color: #ff9800; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; 
}

.box-button:hover {
    background-color: #e68900; 
}

.image-box2 {
    position: absolute;
    width: 525px;
    height: 367px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 10px 10px 0px #292967;
    ;
    margin-top: 100px; 
    margin-left: 730px;  
}

.image-box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 25px; 
}

.about2{
    padding-top: 100px;
    padding-left: 120px;
    margin-bottom: -15px;
    font-weight: 400px;
    font-size: 24px;
} 
.heading2{
    padding-left: 120px;
    color: #292967;
    margin-bottom: 10px;
    padding-bottom: 32px;
}
.para2{
    padding-left: 120px;
    word-break: break-all;
    font-size: 16px;
    font-weight: 400px;
    width: 518.58px !important;
}

.button2{
    padding-left: 120px;
    margin-top: 50px;
}


.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .text-content {
    flex: 1;
  }
  
  .image-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  
  .image-content img {
    max-width: 100%;
    height: 230px;
  }
  
  .heading2, .para2 {
    margin: 0;
  }
  
  .button2 {
    margin-top: 10px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }